<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

    <style>
    #lastLogin {
        text-align: center;
    }
    </style>

</head>
<body onload="onloaded()">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/hotelSearch" style="font-size: 20px;">BayAreaTravels</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/viewLinks">View Links Visited</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron text-center" style="margin-top: -20px; background-image: linear-gradient(to bottom right, #32CD32, #00c0f0);">
    <h1>Bay Area Travels </h1> <br>
    <h3 style="margin-top: -7px;" >Where you book matters!</h3>
    <br>
    <p>Last login at : $lastLogin</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="map" style = "height: 400px; width: 400px; float: right;"></div>
            <h1> $Hotels.getHotelName() </h1>
            <h4><b>ID:</b> $Hotels.getHotelID()</h4>
            <h4><b>Address:</b>  $Hotels.getHotelAddress()</h4>
            <h4><b>Average Rating:</b>  $avgRating</h4>
            <h3>Weather details: </h3>
            <h4 class = "temp"></h4>
            <h4 class="windspeed"></h4>
            <h4 class="winddirection"></h4>
            <h4><b>Expedia Link:</b> <a href="$Elink" onclick="sendLinkToDB()" target="_blank" rel="noopener noreferrer"> $Elink </a></h4>
            <form action="/addReview" method="POST" class="form-horizontal">
                <input type="text" name="review-hotelId" id="review-hotelId" placeholder="Hotel ID" value="$Hotels.getHotelID()" hidden> <br><br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text" for="inputGroupSelect01" style="font-size: 25px;">Add a Review: </div>
                    </div>
                    <label for="rating" class="col-sm-2 control-label">Rating:</label>
                    <select class="form-control" id="rating" name="rating" style="width: 400px; margin: 10px 0;">
                        <option selected>Choose...</option>
                        <option value="0">0</option>
                        <option value="0.5">0.5</option>
                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="2.5">2.5</option>
                        <option value="3">3</option>
                        <option value="3.5">3.5</option>
                        <option value="4">4</option>
                        <option value="4.5">4.5</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <label for="review-title" class="col-sm-2 control-label"style="width: 120px; margin: 10px 0;">Review Title:</label><br><br>
                <input type="text" name="review-title" id="review-title" class="form-control" placeholder="Review Title" style="width: 400px; margin: 10px 0;">
                <label for="review-text" class="col-sm-2 control-label" style="width: 120px; margin: 10px 0;">Review Text:</label><br><br>
                <textarea class="form-control" name="review-text" id="review-text" placeholder="Review Text" rows="4" cols="50" style="width: 400px; margin: 10px 0;"></textarea>
                <input class="form-control" type="submit" value="Submit" style="width: 120px; margin: 10px 0; background-color: #00c0f0;"><br>
            </form>
            #foreach( $review in $Reviews)
            <div class="well" style="max-width: 70%; margin: 10px 0; background-color: #87cefa; text-align: left;">
                <p style="font-size: 18px;"><b>$review.getNickName()</b> gave a rating of <b>$review.getRating()</b></p>
                <p style="font-size: 12px; text-align: right; margin-top: -30px;">$review.getReviewDate()</p>
                <p style="font-size: 15px;"><b>$review.getReviewTitle()</b></p>
                <p style="font-size: 15px;">$review.getReviewText()</p>
                #if ($user == $review.getNickName())
                <a href="/modifyReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Edit</button>
                </a>
                <a href="/deleteReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Delete</button>
                </a>
                #end
                #set($liked = false)
                #set($count1 = 0)
                #foreach( $likedUser in $likes.get($review.getReviewID()))
                #set($count1 = $count1 + 1)
                #if ($likedUser == $user)
                <a href="/unlikeReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Unlike</button></a>
                #set($liked = true)
                #break;
                #end
                #end
                #if($liked == false)
                <a href="/likeReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Like</button></a>
                #end
                <p class = "likeCountText" style="text-align: righta;">$count1 people found this helpful!</p>
                </div>
            #end
            #foreach( $i in [1..$totalReviews])
            <a href="/reviews?hotelId=${Hotels.getHotelID()}&offset=${i}">
                <button>$i</button>
            </a>
            #end
        </div>
    </div>
</div>
<script>

    function sendLinkToDB() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/sendLinkToDB?hotelId=${Hotels.getHotelID()}&link=${Elink}", true);
        xhttp.send();
    }
    function onloaded() {
    var map = L.map('map').setView([$Hotels.getHotelLat(), $Hotels.getHotelLng()], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var marker = L.marker([$Hotels.getHotelLat(), $Hotels.getHotelLng()]).addTo(map);


    fetch("https://api.open-meteo.com/v1/forecast?latitude=${Hotels.getHotelLat()}&longitude=${Hotels.getHotelLng()}&daily=temperature_2m_max,temperature_2m_min,sunrise,sunset,windspeed_10m_max&current_weather=true&timezone=America%2FLos_Angeles")
    .then(response => response.json())
    .then(data => {
        var currentTemp = data.current_weather.temperature;
        var windSpeed = data.current_weather.windspeed;
        var windDirection = data.current_weather.winddirection;
        document.querySelector(".temp").innerHTML = "<b>Current Temperature:</b> " + currentTemp + "&#176;C";
        document.querySelector(".windspeed").innerHTML = "<b>Current Wind Speed:</b> " + windSpeed + "m/s";
        document.querySelector(".winddirection").innerHTML = "<b>Current Wind Direction:</b> " + windDirection + "&#176;";
    });
    }



</script>
</body>
</html>