<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotel Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Bay Area Travel </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3> Hotels in San Francisco: </h3>
      #foreach( $hotel in $Hotels.Hotels)
        #set( $hid = "${hotelObj.getHotelObject($hotel.hotelId).getHotelId()}")
      <a href="/hotelInfo?hotelId=$hid">$hotel.name\</a> <br>
      #end
    </div>
  </div>
</div>
<!--<script>-->
<!--function submitReq(e) {-->
<!--  location.href = "http://localhost:8090/hotelInfo?hotelId="+ e.target.id;-->
<!--}-->
<!--</script>-->
</body>
</html>