<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>

</head>
<body onload="onloaded()">
<div class="jumbotron text-center">
    <h1>Bay Area Travel </h1> <br>
    <a href="/logout">
        <button>Logout</button>
    </a>
    <a href="/viewLinks">
        <button>View Links Visited</button>
    </a><br>
    <p>Last Login at : $lastLogin</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="map" style = "height: 400px; width: 400px; float: right;"></div>
            <h3> $Hotels.getHotelName() </h3>
            <p>ID: $Hotels.getHotelID()</p>
            <p>Address: $Hotels.getHotelAddress()</p>
            <p>Average Rating: $avgRating</p>
            <p>Expedia Link: <a href="$Elink" onclick="sendLinkToDB()" target="_blank" rel="noopener noreferrer"> $Elink </a></p>
            <form action="/addReview" method="POST">
                <input type="text" name="review-hotelId" id="review-hotelId" placeholder="Hotel ID" value="$Hotels.getHotelID()" readonly> <br>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Options</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01" name="rating">
                        <option selected>Choose...</option>
                        <option value="0">0</option>
                        <option value="0.5">0.5</option>
                        <option value="1">1</option>
                        <option value="1.5">1.5</option>
                        <option value="2">2</option>
                        <option value="2.5">2.5</option>
                        <option value="3">3</option>
                        <option value="3.5">3.5</option>
                        <option value="4">4</option>
                        <option value="4.5">4.5</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <input type="text" name="review-title" id="review-title" placeholder="Review Title"> <br>
                <textarea name="review-text" id="review-text" placeholder="Review Text" rows="4" cols="50"></textarea><br>
                <input type="submit" value="Submit"><br>
            </form>
            #foreach( $review in $Reviews)
                <p>$review</p>
                #if ($user == $review.getNickName())
                <a href="/modifyReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Edit</button>
                </a>
                <a href="/deleteReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Delete</button>
                </a>
                #end
                #set($liked = false)
                #set($count1 = 0)
                #foreach( $likedUser in $likes.get($review.getReviewID()))
                    #set($count1 = $count1 + 1)
                    #if ($likedUser == $user)
                        <a href="/unlikeReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                            <button>Unlike</button>
                        </a>
                        #set($liked = true)
                        #break;
                    #end
                #end
                #if($liked == false)
                    <a href="/likeReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                        <button>Like</button>
                    </a>
                #end
                <p>$count1 people found this helpful!</p>
            #end
            #foreach( $i in [1..$totalReviews])
            <a href="/reviews?hotelId=${Hotels.getHotelID()}&offset=${i}">
                <button>$i</button>
            </a>
            #end
        </div>
    </div>
</div>
<script>
    //write a javascript function without using jquery to send the link to the database
    function sendLinkToDB() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "/sendLinkToDB?hotelId=${Hotels.getHotelID()}&link=${Elink}", true);
        xhttp.send();
    }
    function onloaded() {
    var map = L.map('map').setView([$Hotels.getHotelLat(), $Hotels.getHotelLng()], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    var marker = L.marker([$Hotels.getHotelLat(), $Hotels.getHotelLng()]).addTo(map);


    fetch("https://api.open-meteo.com/v1/forecast?latitude=${Hotels.getHotelLat()}&longitude=${Hotels.getHotelLng()}&daily=temperature_2m_max,temperature_2m_min,sunrise,sunset,windspeed_10m_max&current_weather=true&timezone=America%2FLos_Angeles")
    .then(response => response.json())
    .then(data => {
        var currentTemp = data.current_weather.temperature_2m;
        var currentWind = data.current_weather.windspeed_10m;
        var currentWeather = data.current_weather.weather;
        var currentWeatherIcon = data.current_weather.weather_icon;
        var currentWeatherIconUrl = "https://api.open-meteo.com/weather-icons/" + currentWeatherIcon + ".png";
        var currentWeatherIconImg = document.createElement("img");
        currentWeatherIconImg.src = currentWeatherIconUrl;
        var currentWeatherDiv = document.createElement("div");
        currentWeatherDiv.innerHTML = "Current Weather: " + currentWeather + " " + currentTemp + "F " + currentWind + "mph";
        currentWeatherDiv.appendChild(currentWeatherIconImg);
        document.body.appendChild(currentWeatherDiv);
        var dailyWeather = data.daily;
        for (var i = 0; i < dailyWeather.length; i++) {
            var dailyWeatherDiv = document.createElement("div");
            var dailyWeatherIcon = dailyWeather[i].weather_icon;
            var dailyWeatherIconUrl = "https://api.open-meteo.com/weather-icons/" + dailyWeatherIcon + ".png";
            var dailyWeatherIconImg = document.createElement("img");
            dailyWeatherIconImg.src = dailyWeatherIconUrl;
            dailyWeatherDiv.innerHTML = "Day " + (i + 1) + ": " + dailyWeather[i].weather + " " + dailyWeather[i].temperature_2m_max + "F " + dailyWeather[i].temperature_2m_min + "F " + dailyWeather[i].windspeed_10m_max + "mph";
            dailyWeatherDiv.appendChild(dailyWeatherIconImg);
            document.body.appendChild(dailyWeatherDiv);
        }
    });
    }


</script>
</body>
</html>