<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hotel Details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Bay Area Travel </h1><br>
  <a href="/logout">
    <button>Logout</button>
  </a>
  <a href="/viewLinks">
    <button>View Links Visited</button>
  </a>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class = "searchbar" >
        <form action="/hotelSearch" method="GET">
          <p>Enter the hotel name you want to search: </p>
          <input type="text" name="hotelName" id="Hotel-Search"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <h3> Hotels in Bay Area: </h3>
      #foreach( $hotel in $Hotels)
      <a href="/reviews?hotelId=$hotel.getHotelID()">$hotel.getHotelName()</a> <br>
      #end
    </div>
  </div>
</div>
</body>
</html>