<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Bay Area Travel </h1> <br>
    <a href="/logout">
        <button>Logout</button>
    </a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3> $Hotels.getHotelName() </h3>
            <p>ID: $Hotels.getHotelID()</p>
            <p>Address: $Hotels.getHotelAddress()</p>
            <p>Average Rating: $avgRating</p>
            <p>Expedia Link: <a href="$Elink" target="_blank" rel="noopener noreferrer"> $Elink </a></p>
            <form action="/addReview" method="POST">
                <input type="text" name="review-hotelId" id="review-hotelId" placeholder="Hotel ID" value="$Hotels.getHotelID()" readonly> <br>
                <input type="text" name="review-title" id="review-title" placeholder="Review Title"> <br>
                <textarea name="review-text" id="review-text" placeholder="Review Text" rows="4" cols="50"></textarea><br>
                <input type="submit" value="Submit"><br>
            </form>
            #foreach( $review in $Reviews)
                <p>$review</p>
                #if ($user == $review.getNickName())
                <a href="/modifyReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Edit</button>
                </a>
                <a href="/deleteReview?reviewId=$review.getReviewID()&hotelId=$Hotels.getHotelID()">
                    <button>Delete</button>
                </a>
                #end
            #end
        </div>
    </div>
</div>
</body>
</html>