<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify your Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/hotelSearch" style="font-size: 20px;">BayAreaTravels</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/viewLinks">View Links Visited</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center" style="margin-top: -20px; background-color: #00c0f0">
  <h1>Bay Area Travels </h1> <br>
  <h3 style="margin-top: -7px;" >Where you book matters!</h3>
  <br>
  <p>Last Login at : $lastLogin</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3> $hotel.getHotelName() </h3>
      <p>ID: $hotel.getHotelID()</p>
      <form action="/modifyReview" method="POST">
        <input type="text" name="review-hotelId" id="review-hotelId" value="$hotel.getHotelID()" readonly> <br>
        <input type="text" name="review-reviewId" id="review-reviewId" value="$review.getReviewID()" readonly> <br>
        <select class="custom-select" id="inputGroupSelect01" name="rating">
          <option selected>Choose...</option>
          <option value="0">0</option>
          <option value="0.5">0.5</option>
          <option value="1">1</option>
          <option value="1.5">1.5</option>
          <option value="2">2</option>
          <option value="2.5">2.5</option>
          <option value="3">3</option>
          <option value="3.5">3.5</option>
          <option value="4">4</option>
          <option value="4.5">4.5</option>
          <option value="5">5</option>
        </select><br>
        <input type="text" name="review-title" id="review-title" value="$review.getReviewTitle()"> <br>
        <textarea name="review-text" id="review-text" rows="8" cols="50">$review.getReviewText()</textarea><br>
        <input type="submit" value="Submit"><br>
      </form>
    </div>
  </div>
</div>
</body>
</html>