<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center" style="margin-top: -20px; background-image: linear-gradient(to bottom right, #32CD32, #00c0f0);">
  <h1>Bay Area Travels </h1> <br>
  <h3 style="margin-top: -7px;" >Where you book matters!</h3>
  <br>
</div>
#if ( $error)
<div class="alert alert-danger" role="alert">
  $error
</div>
#end
<form method="POST" action="/register">
  Enter your username:<br><input type="text" name="username"><br>
  Enter your password:<br><input type="password" name="password"><br>
  <p><input type="submit" value="Register"></p>
</form>
Already have an account? <a href="/login"><p>Login here!</p></a>
</body>
</html>