<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modify your Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Bay Area Travel </h1><br>
  <a href="/logout">
    <button>Logout</button>
  </a>
  <a href="/clearLinks">
    <button>Clear History</button>
  </a><br>
  <p>Last Login at : $lastLogin</p>
</div>
#foreach( $link in $Links)
<a href="${link}"> $link
</a> <br />
#end
</body>
</html>